h1 {
    text-align: center;
}
#board {
    width: 520px;
    height: 520px;
    margin: 20px;
    border: 2px solid #333;
}
.cell {
    float: left;
    width: 50px;
    height: 50px;
    background-image: radial-gradient(#fff,#e6e6e6);
    border: 1px solid black;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    line-height: 50px;
}